HOST=0.0.0.0
PORT=8080
DEBUG=false

AUTH_USERNAME=changeme
AUTH_PASSWORD=changeme
AUTH_REALM=MX Player Server Login

VIDEO_DIR=.
THUMB_DIR=.thumbnails
SUPPORTED_EXTENSIONS=.mp4,.mkv,.webm,.mov,.avi,.m4v

FOLDERS_FILE=.folders.json
BROWSE_ROOT=~

THUMB_WIDTH=480
THUMB_QUALITY=3
